@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

h1{
  font-size: 60px;
  color: #ff7979;
  margin: 50px 0;
}



h3{
  font-size: 40px;
}

h4{
  font-size: 25px;
}
h2,h3{
  color: #ff7979;

}
  /* begin of menu  */
.container {
  background-color: rgb(243, 241, 241);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 20px;
}

nav ul li + li {
  margin-left: 24px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 20px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}
.circle-container {
  display: flex;
  width: 90vw;
}

/* end of menu  */




.panel {
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 50px;
  position: relative;
  
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
 
 
}

.panel p {
  font-size: 18px;
  position: absolute;
  bottom: 8px;
  left: 20px;
 
 
}





@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel{
    margin: 20px;
  }


  h1{
    font-size: 40px;
    color: #ff7979;
    margin: 20px 0;
  }
  
  
  
  h3{
    font-size: 25px;
  }
  
  h4{
    font-size: 18px;
  }
  h2,h3{
    color: #ff7979;
  
  }



  

/* footer */
.copywrite{
  color: white;
  text-align: center;
  font-size: 10px;
}


.contact-me{
  background-color: #333;
  
  color: #fafafa;
  margin: auto ;
  margin-left: 100px;
  
}

@media only screen and (max-width: 577px)  {

  




.footer{
  margin:0, auto;
 
}

.linktowebsite{
  text-decoration: none;
  color: #FF7979;
}

.linktowebsite:hover{
  text-decoration: none;
  color: black;
}

.linktowebsite::after{
  text-decoration: none;
  color: gray;
}

}
/* end of footer */